@import '../variables.scss';

.results {
  @include container($primary);
  display: flex;
  flex-direction: column;
  .result {
    @include container($primary);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    p {
      margin: 5px;
      padding: 5px 10px 5px 0px;
      border-right: 1px solid $secondary;
    }
    .title { font-weight: bold; }
    .data {
      @include container($secondary);
      display: flex;
      flex-direction: column;
      .stats, .quantiles {
        display: flex;
        flex-wrap: wrap;
        > div {
          margin: 100px;
        }
      }
    }
  }
}
